.searchContainer {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Adjust margin as needed */
  }
  
  .inputSearch {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px; /* Adjust margin as needed */
  }
  
  .button {
    padding: 10px 15px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #333; /* Darken color on hover */
  }